/* src/components/routes/Header.css */

body {
    background-color: black;
    margin: 0;
    display: flex;
    flex-direction: column;
  }
  
  .header {
    background-color: transparent;
    padding: 10px;
    box-shadow:
      0 0 10px 5px red, /* Red glowing border */
      0 0 0 5px red inset; /* Inner red glowing border */
    display: flex;
    align-items: center;
    border-radius: 10px;
    color: #fff;
  }
  
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width:80%; */
    margin:0 ;
  }
  
  .logo img {
    width: 180px;
    height: 50px;
  }
  
  .logo img:hover {
    background-color: aliceblue;
  }
  
  .buttons {
    display: flex;
    margin-left: 500px;
    gap:25px;
  }
  
  .button {
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    margin: 0;
    padding: auto;
  }
  
  .button:hover{
    background-color: red;
  }
  
  .contact {
    background-color: red;
  }
  
  .contact:hover{
    background-color: grey;
  }